
.body{
    align-items: center;
    background-color: burlywood;
    height: 600px;
    display: flex;
    place-content: center;
}

.judul{
    font-size: xx-large;
    text-align: center;
    padding: 10px;
}

.textParagraph{
    margin: auto;
    width: 40%;
    font-size: larger;
    text-align: justify;
    padding: 10px;
}